<settings>
    <category label="General">
        <setting label="Use inputstream.adaptive HLS" type="bool" id="inputstream" default="false"/>
        <setting label="Cache time (Hours)" type="slider" id="cache_time" default="8" range="0,80" option="int"/>
        <setting label="android_id36" id="android_id36" type="text" visible="false" default=""/>
        <setting label="data_time36" id="data_time36" type="text" visible="false" default=""/>
        <setting label="live_data_time36" id="live_data_time36" type="text" visible="false" default=""/>
        <setting label="vod_data_time36" id="vod_data_time36" type="text" visible="false" default=""/>
        <setting label="device_id36" id="device_id36" type="text" visible="false" default=""/>
        <setting label="user_id36" id="user_id36" type="text" visible="false" default=""/>
    </category>
</settings>
