<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="32100">
		<setting label="32101" type="slider" id="maxFileAge" default="30" range="15,15,1440" option="int" />
		<setting type="sep"/>
		<setting label="32102" type="bool" id="showTopicsDirectly" default="false"/>
		<setting type="sep"/>
		<setting label="32103" type="bool" id="hideAD" default="false"/>
		<setting type="sep"/>
		<setting label="32104" type="bool" id="playBestQuality" default="true"/>
	</category>
</settings>
